div#root {
    border-style: solid;
    width: 600px;
}

div.inner-div {
    display: flex;
}

div.inner-div div.white {
    height: 75px;
    width: 75px;
    background-color: whitesmoke;
}

div.inner-div div.black {
    height: 75px;
    width: 75px;
    background-color: black;
}